<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 시스템</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="container">
    <form>
        <input type="text" id="email" name="email" placeholder="이메일" maxlength="255" required/>
        <br><br/>
        <input type="password" id="password" name="password" placeholder="비밀번호" maxlength="20" required>
        <br><br/>
        <button type="button" id="loginBtn">로그인</button>
    </form>
    <br/>
    <button><a href = "/user-service/signup">회원가입 하기</a></button>
    <button><a href = "/user-service/password-clear">비밀번호 초기화</a></button>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#loginBtn').click(function() {
            let body = {
                email: $('#email').val(),
                password: $('#password').val()
            };
            $.ajax({
                url: '/user-service/signin',
                contentType: 'application/json',
                type:'POST',
                data: JSON.stringify(body),
                error: function(){
                    alert("정보가 올바르지 않습니다.");
                },
                success:function(data){
                    sessionStorage.setItem('AccessToken', data['accessToken']);
                    sessionStorage.setItem('RefreshToken', data['RefreshToken']);
                    window.location.href = '/user-service/main';
                }
            });
        })
    })
</script>
</html>