<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 시스템 | 비밀번호 초기화</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="container">
    <form>
        <input type="text" id="email" name="email" placeholder="이메일" maxlength="255"/>
        <br><br/>
        <input type="text" id="name" name="name" placeholder="이름" maxlength="20">
        <br><br/>
        <button type="button" id="clearBtn">비밀번호 초기화</button>
    </form>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#clearBtn').click(function() {
            let body = {
                email: $('#email').val(),
                name: $('#name').val()
            };
            $.ajax({
                url: '/user-service/users/password',
                contentType: 'application/json',
                type:'PUT',
                data: JSON.stringify(body),
                error: function(){
                    alert("입력한 정보의 사용자가 존재하지 않습니다..");
                },
                success:function(data){
                    alert("이메일로 초기화된 비밀번호가 전송되었습니다.");
                    window.location.href = '/user-service';
                }
            });
        })
    })
</script>
</html>